# .envrc — activation automatique de l'environnement devenv
# Requiert : direnv (nix-shell -p direnv) + hook shell configuré
# Doc : https://devenv.sh/getting-started/

if ! has nix_direnv_version || ! nix_direnv_version 3.0.4; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.4/direnvrc" \
    "sha256-DzlYZ33mWF/Gs8DDeyjr3wwdO5sANiYVNMNkisMJhH4="
fi

# Charge le flake.nix présent dans ce répertoire
use flake .
